<div class="container">
  <h1>Historial de Marcaje</h1>

  <a href="#" routerLink="/empleado/index/" class="btn btn-success"
    >Empleados</a
  >

  <table class="table table-dark table-sm">
    <tr>
      <th>ID EMPLEADO</th>
      <th>Nombre y apellido</th>
      <th>Marcaje</th>
      <th>FECHA</th>
      <th>HORA</th>
    </tr>
    
    <tr *ngFor="let control of controls">
      <td>{{ control.id_empleado }}</td>
      <td>{{ control.nombre +" "+control.apellido}}</td>
      

      <td>{{ control.tipo }}</td>
      <td>{{ control.fecha }}</td>
      <td>{{ control.hora }}</td>
      <td></td>
    </tr>
  </table>
</div>
