<div class="container">
  <a href="#" routerLink="/empleado/index" class="btn btn-primary"
    ><i class="fa-solid fa-circle-arrow-left"></i></a
  ><br />

  <div>
    <strong>Nombre:</strong>
    <p>{{ empleado.nombre }}</p>
  </div>

  <div>
    <strong>Apellido:</strong>
    <p>{{ empleado.apellido }}</p>
  </div>
  <div>
    <strong>DPI:</strong>
    <p>{{ empleado.dpi }}</p>
  </div>

  <div>
    <strong>Departamento:</strong>
    <p>{{ empleado.id_departamento }}</p>
  </div>

  <div>
    <strong>Fecha de inicio de labores:</strong>
    <p>{{ empleado.fecha_inicio_labores }}</p>
  </div>

  <div>
    <strong>Fecha de nacimiento:</strong>
    <p>{{ empleado.fecha_nacimiento }}</p>
  </div>
</div>
